.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('https://media.istockphoto.com/id/1179771730/es/foto/proyector-de-pel%C3%ADcula-vintage-y-proyecci%C3%B3n-de-pel%C3%ADculas.jpg?s=2048x2048&w=is&k=20&c=nRTQMHBcvALLK-bFPIoRYfZ6XyT_7zd1Zhd-QxI4ofo=');
}
main{
    background-size: cover;
    background-position: center;
    min-height: 100%;
}
footer {
  margin-top: auto;
  background-color: #333;
  color: #fff;
  padding: 20px;
  width: 100%;
  padding-left: 300px;
}
